/data/
/.idea/
/.ipynb_checkpoints/
*.log
/jars/
/submissions/
/saved_models/
/importances/

Notebooks/\.ipynb_checkpoints/

Notebooks/\.DS_Store

\.DS_Store

Notebooks/models/\.ipynb_checkpoints/prueba_pandas-Copy1-checkpoint\.ipynb

Notebooks/models/\.ipynb_checkpoints/

enviroment/
